_python/
*__pycache__/
*.pyc
*.tsv

#for vim
*.swp
*.swo

# don't include image folder, it is huge
/image_recognition/img/*

*.p
*/eu-flood/
*/european-flood-2013_imgs_small.zip

# log files
*.log

*.ipynb_checkpoints/
*.ipynb
data*
